.external-link-description {

    border-left: 5px solid gray;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}



div.external-links-list {

    padding: 1rem;
    margin-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


p.external-links-category-title {
    text-decoration: underline;
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 5px black, -1px -1px 5px black, 0px 0px 5px black, 1px -1px 5px black, -1px 1px 5px black;

}


.external-links-name-paragraph {
    padding-bottom: 0rem;
    margin-bottom: -1rem;
}


.externel-link-description-container {
    padding-left: 1%;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.external-links-sublist {
    padding-left: 1%;
}